

#gameContaner {
	background-color: #FEAB1D;
	border-radius: 30px;
	height: 600px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 900px;
}

#game {
	border-radius: 20px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

#Instructions {
	left: calc(50% + 200px);
	position: absolute;
	top: calc(50% - 200px);
	transform: translate(-50%, -50%);
	width: 300px
}