#TWODB {
	background-image: url('../imgs/2DBoid.png');
}

#THREEDB {
	background-image: url('../imgs/3DBoid.PNG');
}

#FFD {
	background-image: url('../imgs/FlowField.PNG');
}

#PDM {
	background-image: url('../imgs/Dungeon.png');
}

#PFE {
	background-image: url('../imgs/FlowPath.png');
}


#Chec {
	background-image: url('../imgs/Checkers.PNG');
}

#Slap {
	background-image: url('../imgs/SlapHappy.PNG')
}

#Tank {
	background-image: url('../imgs/TankGame.PNG');
}
