.gameIcon {
	border-radius: 30px;
	border-style: solid;
	border-color: white;
	width: 200px;
	height:200px;
	position: absolute;
}


#TWODB {
	background-image: url('imgs/2DBoid.png');
	background-position: center center;
	background-size: 200px 200px;
	margin-left: -5px;

}

#THREEDB {
	background-image: url('imgs/3DBoid.PNG');
	background-position: left top;
	background-size: 200px 200px;
	margin-left: 200px;
}

#FFD {
	background-image: url('imgs/FlowField.PNG');
	background-position: left top;
	background-size: 200px 200px;
	margin-left: 405px;
}


#Chec {
	background-image: url('imgs/Checkers.PNG');
	background-position: center center;
	background-size: 200px 200px;
	margin-left: -5px;
}

#Slap {
	background-image: url('imgs/SlapHappy.PNG')
	background-position: left top;
	background-size: 450px 300px;
	margin-left: 200px;
}

#Tank {
	background-image: url('imgs/TankGame.PNG');
	background-position: center center;
	background-size: 230px 200px;
	margin-left: 405px;
}
