body {
    margin: auto;
    background: #ffffff;
    overflow: hidden;
}
#TopList {
    background:#D96B14;
    margin:auto;
    list-style-type: none;
    height: 40px;
    padding: 0;
}
.TopListOptions {
    position: absolute;
}
.TopListList {
    display:block;
    height:40px;
    line-height:40px;
    padding:0 50px;
    color: white;
    font-family: sans-serif;
    transition: background .2s;
}
#U2 {
    margin-left: 150px;
}
#l3 {
    margin-left: 320px;
}
#l4 {
    margin-left: 460px;
}
#l5 {
    margin-left: 615px;
}
#l6 {
    margin-left: 765px;
}
.Title {
    background: #FFFFFF;
    padding: 5px 0 0 0;
    margin: 15px auto;
    width: 400px;
    height: 50px;
    line-height: 10px;
    border-radius: 5000px;
    font-family: sans-serif;
}
.CenterSpace {
    margin: auto;
    padding-top: 22px;
    padding-bottom: 0;
    width: 450px;
    border-style: solid;
    border-radius: 15px;
}
.PlanetarySpaceIMG {
    display: block;
    margin: auto;
    border-radius: 15px;
    
}
.DownloadButton {
    display: block;
    background: #D96B14;
    margin: 0 auto;
    width: auto;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 40px;
    color: white;
    transition: background .2s;
}
.imgCells {
    width: 100%;
}
.TopListList:hover {
    background: rgba(255,255,255,.2);
}
.DownloadButton:hover {
    background: #D8854C;
}
div table td h2 a {
    text-decoration:  none;
}
.gameDescription {
    margin: auto;
    padding: 0 20px;
}
#game {
    display: block;
    margin: 30px auto 0;
}
#Instructions {
    display: block;
    margin: 0 auto;
    background: #919191;
    width: 800px;
    height: 100px;
}
#infoTank {
    display: block;
    margin: auto;
    width: 800px;
    height: 200px;
    background: rgb(50,50,50);
}
.infoTank { color: white; }