body {
    margin: auto;
    background: #fff;
}


#SideBar {
    background-color: black;
    height: 100%;
    position: absolute;
    width: 60px;
}


.MainButtons {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 57px;
    position: relative;
    text-align: center;
    width: 95%;
}
.MainButtons p {
    font-size: small;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}


#MainButton1 {
    top: 10px;
    left: 0%;
}
#MainButton2 {
    top: 20px;
    left: 0%;
}
#MainButton3 {
    background-image: url('../imgs/image0.jpg');
    background-size: cover;
    top: 30px;
    left: 0%;
}


#ItemList {
    left: 60px;
    margin-top: 0px;
    padding: 0px;
    position: absolute;
    text-decoration: none;
    width: calc(100% - 60px);
}
.ListItems {
    background-color: #fff;
    display: inline-block;
    float: right;
    height: 250px;
    vertical-align: center;
    width: 100%;
}
.ListItemsGrayFilter {
    background-color: #0001;
    height: 100%;
    width: 100%;
}