body {
    margin: auto;
    background: #eee;
}


#SideBar {
    background-color: black;
    height: 100%;
    left: 0%;
    position: absolute;
    top: 0%;
    width: 60px;
}


.MainButtons {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 57px;
    position: relative;
    text-align: center;
    width: 95%;
}
.MainButtons p {
    font-size: small;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}


#MainButton1 {
    background-color: #eee;
    top: 10px;
    left: 0%;
}
#MainButton2 {
    background-color: #eee;
    top: 20px;
    left: 0%;
}
#MainButton3 {
    background-image: url('../imgs/image0.jpg');
    background-size: cover;
    top: 30px;
    left: 0%;
}


#ItemList {
    height: 100%;
    left: 60px;
    margin-top: 0px;
    overflow-y: auto;
    padding: 0px;
    position: absolute;
    text-decoration: none;
    width: calc(100% - 60px);
}
.ListItems {
    background-color: #fff;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    float: right;
    height: 250px;
    transition: height 0.5s;
    vertical-align: center;
    width: 100%;
}
.ListItems:hover {
    height: 300px;
}
.ListItemsGrayFilter {
    background-image: linear-gradient(#0003, #0008);
    height: 100%;
    position: relative;
    transition: background-image 0.5s;
    width: 100%;
}
.ListItemsGrayFilter:hover {
    background-image: linear-gradient(#0002, #0007);
}
.ListItemsLabel {
    color: white;
    font-size: 64px;
    position: relative;
    top: 65%;
}